<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Petición</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Mesa de Ayuda FESC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/nuevo_empleado/">Registrar Empleado</a></li>
                    <li class="nav-item"><a class="nav-link" href="/nuevo_tecnico/">Registrar Técnico</a></li>
                    <li class="nav-item"><a class="nav-link" href="/nueva_peticion/">Nueva Petición</a></li>
                    <li class="nav-item"><a class="nav-link" href="/asignar_ticket/">Asignar Ticket</a></li>
                </ul>
            </div>
        </div>
    </nav>    
    <div class="container mt-5">
        <h1>Nueva Petición</h1>
        <form method="post" enctype="multipart/form-data">  <!-- Agregar enctype -->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        {% if messages %}
        <div class="alert alert-success mt-3">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
